body {
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

.chat-box {
    height: 300px;
    overflow-y: hidden; /* Hides the scrollbar */
    padding: 10px;
}

.input-box {
    display: flex;
    margin-top: 10px;
}

input {
    flex-grow: 1;
    padding: 10px;
}

button {
    padding: 10px;
    background-color: green;
    color: rgb(1, 1, 1);
    border: none;
}
